In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Dataset/diabetes_prediction_dataset.csv')

In [ ]:
df.describe()

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes
count,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,41.885856,0.07485,0.039420,27.320767,5.527507,138.058060,0.085000
std,22.516840,0.26315,0.194593,6.636783,1.070672,40.708136,0.278883
min,0.080000,0.00000,0.000000,10.010000,3.500000,80.000000,0.000000
25%,24.000000,0.00000,0.000000,23.630000,4.800000,100.000000,0.000000
50%,43.000000,0.00000,0.000000,27.320000,5.800000,140.000000,0.000000
75%,60.000000,0.00000,0.000000,29.580000,6.200000,159.000000,0.000000
max,80.000000,1.00000,1.000000,95.690000,9.000000,300.000000,1.000000

In [ ]:
df=df.drop_duplicates().reset_index(drop=True)
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
96141,Female,36.0,0,0,No Info,24.60,4.8,145,0
96142,Female,2.0,0,0,No Info,17.37,6.5,100,0
96143,Male,66.0,0,0,former,27.83,5.7,155,0
96144,Female,24.0,0,0,never,35.42,4.0,100,0
96145,Female,57.0,0,0,current,22.43,6.6,90,0

In [ ]:
for i in df.columns:
  dis = len(df[i].unique())
  print('{} - {}'.format(i,dis))

gender - 3
age - 102
hypertension - 2
heart_disease - 2
smoking_history - 6
bmi - 4247
HbA1c_level - 18
blood_glucose_level - 18
diabetes - 2

In [ ]:
X = df.drop('diabetes', axis=1)
y = df['diabetes']

In [ ]:
from sklearn.preprocessing import OneHotEncoder
columns_to_encode = ['gender', 'smoking_history']
X_categorical = df[columns_to_encode]
X_categorical

       gender smoking_history
0      Female           never
1      Female         No Info
2        Male           never
3      Female         current
4        Male         current
...       ...             ...
96141  Female         No Info
96142  Female         No Info
96143    Male          former
96144  Female           never
96145  Female         current

[96146 rows x 2 columns]

In [ ]:
encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')
encoder.fit(X_categorical)
X_encoded = encoder.transform(X_categorical)
encoded_column_names = encoder.get_feature_names_out(columns_to_encode)
X_encoded_df = pd.DataFrame(X_encoded, columns=encoded_column_names)
X = pd.concat([X.drop(columns_to_encode, axis=1), X_encoded_df], axis=1)
X

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,gender_Female,gender_Male,gender_Other,smoking_history_No Info,smoking_history_current,smoking_history_ever,smoking_history_former,smoking_history_never,smoking_history_not current
0,80.0,0,1,25.19,6.6,140,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,54.0,0,0,27.32,6.6,80,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,28.0,0,0,27.32,5.7,158,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,36.0,0,0,23.45,5.0,155,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,76.0,1,1,20.14,4.8,155,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96141,36.0,0,0,24.60,4.8,145,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
96142,2.0,0,0,17.37,6.5,100,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
96143,66.0,0,0,27.83,5.7,155,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
96144,24.0,0,0,35.42,4.0,100,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
96145,57.0,0,0,22.43,6.6,90,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [ ]:
from sklearn.preprocessing import StandardScaler
columns_to_scale = ['age', 'bmi', 'HbA1c_level', 'blood_glucose_level']
X_num = X[columns_to_scale]
scaler = StandardScaler()
scaler.fit(X_num)
X_scaled = scaler.transform(X_num)
X_scaled_df = pd.DataFrame(X_scaled, columns=columns_to_scale)
X = pd.concat([X.drop(columns_to_scale, axis=1), X_scaled_df], axis=1)

In [ ]:
X

,hypertension,heart_disease,gender_Female,gender_Male,gender_Other,smoking_history_No Info,smoking_history_current,smoking_history_ever,smoking_history_former,smoking_history_never,smoking_history_not current,age,bmi,HbA1c_level,blood_glucose_level
0,0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.700840,-0.314947,0.994563,0.043554
1,0,0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.543372,-0.000216,0.994563,-1.423096
2,0,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-0.614096,-0.000216,0.155970,0.483549
3,0,0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,-0.257952,-0.572051,-0.496269,0.410216
4,1,1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.522768,-1.061141,-0.682623,0.410216
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96141,0,0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,-0.257952,-0.402126,-0.682623,0.165775
96142,0,0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,-1.771563,-1.470439,0.901386,-0.934213
96143,0,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.077588,0.075142,0.155970,0.410216
96144,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-0.792168,1.196649,-1.428039,-0.934213
96145,0,0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.676926,-0.722768,0.994563,-1.178654

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42,stratify=y)

In [ ]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [ ]:
svm_model = SVC()

In [ ]:
svm_model.fit(X_train, y_train)

SVC()

In [ ]:
X_test

,hypertension,heart_disease,gender_Female,gender_Male,gender_Other,smoking_history_No Info,smoking_history_current,smoking_history_ever,smoking_history_former,smoking_history_never,smoking_history_not current,age,bmi,HbA1c_level,blood_glucose_level
79323,0,0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.409818,1.396127,0.994563,0.507993
10492,0,0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,-1.326383,-0.743454,-0.962154,-1.178654
31150,1,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.810480,1.022291,0.621855,-1.178654
94347,0,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.700840,-0.433156,-1.428039,-0.934213
48112,0,1,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.700840,1.134589,-0.962154,0.165775
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88701,0,0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.587890,-0.000216,0.155970,0.043554
1860,0,0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.231746,-0.808469,-1.428039,-1.423096
90612,0,0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.009156,-0.431678,-0.962154,0.165775
91689,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.587890,0.271665,0.155970,-1.423096
51447,0,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.237347,-0.162753,-1.893923,-1.178654

In [ ]:
y_pred = svm_model.predict(X_test)

In [ ]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.9648465938637546

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
print(cm)

Confusion Matrix:
[[17525     9]
 [  667  1029]]

In [ ]:
age = float(input("Enter the patient's age: "))
gender = input("Enter the patient's gender (Male/Female/Other): ")
heart_disease = int(input("Does the patient have a heart disease? (0 for No, 1 for Yes): "))
hypertension = int(input("Does the patient have hypertension? (0 for No, 1 for Yes): "))
smoking_history = input("Enter the patient's smoking history: ")

bmi = float(input("Enter the patient's BMI: "))
HbA1c_level = float(input("Enter the patient's HbA1c level: "))
blood_glucose_level = float(input("Enter the patient's blood glucose level: "))

Enter the patient's age: 52
Enter the patient's gender (Male/Female/Other): Male
Does the patient have a heart disease? (0 for No, 1 for Yes): 1
Does the patient have hypertension? (0 for No, 1 for Yes): 1
Enter the patient's smoking history: never
Enter the patient's BMI: 29.8
Enter the patient's HbA1c level: 7.2
Enter the patient's blood glucose level: 145

In [ ]:
user_input = {
    'age': age,
    'gender': gender,
    'hypertension': hypertension,
    'heart_disease': heart_disease,
    'smoking_history': smoking_history,
    'bmi': bmi,
    'HbA1c_level': HbA1c_level,
    'blood_glucose_level': blood_glucose_level
}

user_df = pd.DataFrame([user_input])
user_categorical = user_df[['gender', 'smoking_history']]
user_encoded = encoder.transform(user_categorical)
user_encoded_df = pd.DataFrame(user_encoded, columns=encoded_column_names)
user_input_processed = pd.concat([user_df.drop(['gender', 'smoking_history'], axis=1), user_encoded_df], axis=1)
user_numerical = user_input_processed[columns_to_scale]
user_scaled = scaler.transform(user_numerical)
user_scaled_df = pd.DataFrame(user_scaled, columns=columns_to_scale)
user_input_processed = pd.concat([user_input_processed.drop(columns_to_scale, axis=1), user_scaled_df], axis=1)
user_input_processed

,hypertension,heart_disease,gender_Female,gender_Male,gender_Other,smoking_history_No Info,smoking_history_current,smoking_history_ever,smoking_history_former,smoking_history_never,smoking_history_not current,age,bmi,HbA1c_level,blood_glucose_level
0,1,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.454336,0.366232,1.553625,0.165775

In [ ]:
user_prediction = svm_model.predict(user_input_processed)

In [ ]:
if user_prediction[0] == 1:
    print("The patient is predicted to be diabetic.")
else:
    print("The patient is predicted to be non-diabetic.")

The patient is predicted to be diabetic.